<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.dao.Real_estateDAO">
 	<!-- 1. id 로 select 하기 -->
 	<select id="selectReal_estateById" parameterType="int" resultType="com.quiz.lesson03.model.Real_estate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}	
 	</select>
 
 </mapper>